*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 80px;
    background-color: darkred;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

header a {
    color:white;
    text-decoration:none;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    text-shadow: 0 0 5px #000, 0 0 5px #000 ;
    font-weight: bold;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a{
    font-weight: 600px;
    padding-right: 10px;
    font-size: 20px;
    text-shadow: 0 0 5px #000, 0 0 5px #000 ;
    font-weight: bold;
}

nav a:hover{
    color: #333;
    text-shadow: 0 0 5px #000;
}

.carousel-item{
    background-position:center;
    background-size:cover;
    height:700px;
}

.item1{
    background-image: url(img/levizao.jpg)
}

.item2{
    background-image: url(img/musumeci.jpg)
}

.item3{
    background-image: url(img/mikey.jpg)
}

.parrafo{
    font-size: 70px;
    display:flex;
    justify-content:center;
}